@charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Do Hyeon', sans-serif;
}
body {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.header {
            position: fixed;
            z-index: 9999;
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #F1F1F1;
            background-color: #ebf3ff;
            border: none;
            box-shadow: 11px 3px 16px #0000000d;
        }
        .header{
            background-color: #ebf3ff;
        }
.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}
.logo span {
    color: #5073FB;
}
.search--notification--profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 300px);
    padding: 0 40px;
}
.notification--profile {
    display: flex;
    align-items: center;
}
.picon {
    margin-left: 20px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
}
.chat {
    color: #70D7A5;
    background-color: rgba(112, 215, 165, .2);
}
.profile {
    position: relative;
    width: 100%;
    overflow: auto;
}
.profile span{
font-family: 'Do Hyeon', sans-serif;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
}
/* sidebar */
.sidebar--item{
font-family: 'Do Hyeon', sans-serif;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #f2f7fb;
    border: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    overflow-y: scroll;
    box-shadow: 11px 3px 16px #0000000d;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar--items{
    margin-top: 60px;
}
.sidebar.active {
    width: 103px;
    overflow-y: scroll;
}
.sidebar.active::-webkit-scrollbar{
    display: none;
}
.sidebar.active .sidebar--item {
    display: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}
.sidebar--items a:hover,
.sidebar--bottom-items a:hover
.picon chat {
    background-color: #5073FB;
    color: #fff;
}
#active--link {
    background-color: #5073FB;
    color: #fff;
}
#active--link i:hover {
    background-color: #5073FB;
    color: #fff;
}
.sidebar--bottom-items li:last-child a {
    margin-bottom: 0;
}
.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.3rem;
}
.icon-0 {
    color: #5073FB;
}
.icon-1 {
    color: #C5BC58;
}
.icon-2 {
    color: #A280E9;
}
.icon-3 {
    color: #85ADE3;
}
.icon-4 {
    color: #E36AC8;
}
.icon-5 {
    color: #70D7A5;
}
.icon-6 {
    color: #5F5CE0;
}
.icon-7 {
    color: #E86786;
}
.icon-8 {
    color: #F1D243;
}
.icon-9 {
        color: #585858;
}
.icon-10 {
        color: #00acc1;
}
.sidebar--items a:hover .icon i {
        color: white;
}
.sidebar--bottom-items a:hover .icon i {
        color: white;
}
/* main--content */
.main--content {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: calc(100% - 300px);
        padding: 31px 125px;
        transition: .1s;
        margin-top: 60px;
}
        .main--content.active {
            width: calc(100% - 103px);
        }
        @media screen and (max-width:1024px) {
            table {
                min-width: 600px;
            }
        }
        @media screen and (max-width:768px) {
            .logo {
                padding-left: 30px;
                width: fit-content;
            }
            .search--notification--profile {
                padding: 0 20px;
                margin-left: auto;
            }
            .main--content {
                padding: 0 20px;
            }
            .sidebar {
                padding: 20px;
            }
            .sidebar.active {
                width: 85px;
            }
            .main--content.active {
                width: calc(100% - 85px);
            }
        }
        @media screen and (max-width:590px) {
            .lock,
            .chat {
                display: none;
            }
            .notification--profile {
                margin-left: auto;
            }
            .search--notification--profile {
                width: fit-content;
            }
            .sidebar {
                transform: translateX(-100%);
                z-index: 10;
                background-color: #fff;
            }
            .sidebar.active {
                transform: translateX(0);
                width: 300px;
            }
            .sidebar.active .sidebar--item {
                display: block;
            }
            .main--content {
                width: calc(100% - 0px);
            }
            .main--content.active {
                width: calc(100% - 0px);
            }
        }
        @media screen and (max-width:450px) {
            .main--content {
                padding: 0 10px;
            }
            .logo {
                padding-left: 10px;
            }
            .search--notification--profile {
                padding: 0 10px;
            }
            .sidebar {
                padding: 10px;
            }
        }
        .main-container{
              display: flex;
              width: 100%;
              height: 100%;
          }
          .contents{
              width: 100%;
              height: 100%;
              display: flex;
          }
          .img-notice{
              width: 40%;
              display: flex;
              height: 100%;
              flex-direction: column;
              left:50px;

          }
          .box-img{
              width: 95%;
              height: 83%;
              margin-bottom: 24px;
              border: 1px solid;
              border-radius: 24px;

            border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            overflow-wrap: break-word;
            min-width: 0px;
            color: rgba(0, 0, 0, 0.87);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow: hidden;
          justify-content: center;
          }

          .box-notice{
              width: 100%;
              height: 100%;
              border: 1px solid;
              border-radius: 24px;
                 text-align: left;


           border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            overflow-wrap: break-word;
            min-width: 0px;
            color: rgba(0, 0, 0, 0.87);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow: hidden;
          justify-content: center;
          }
          .title {
          color: white; /* 원하는 폰트 컬러 값으로 변경 */
          text-align: left; /* 왼쪽 정렬 스타일 적용 */
      }

.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.olcards {
  list-style: none;
  counter-reset: cardCount;
 font-family:  'Do Hyeon', sans-serif;;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  max-width: 100%;
   margin: 0 auto;

}
 .olcards a{
      font-family:  'Do Hyeon', sans-serif;
      color: #FAFAFA;

          }


 .olcards li {
 counter-increment: cardCount;
     display: flex;
     color: white;
     --labelOffset: 1rem;
     --arrowClipSize: 1.5rem;
     margin-top: var(--labelOffset);
     height: 50px;
     width: 100%;
     justify-content: flex-start;
     flex-direction: row;
}
 .olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}
.olcards li .content {
    background-color: var(--cardColor);
    width: 80%;
    display: flex;
    grid-template-areas:
        "icon title"
        "icon text";
    gap: 0.25em 1em;
    position: relative;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    justify-content: flex-start;
    flex-direction: row;100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}


.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
 .olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
 .olcards li .icon {
  margin-left: 25px;
  line-height: 45px;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  font-weight: 600;


}
.olcards li .content .text {
  grid-area: text;

}
.board-class li{
    margin-left: 10px;
}

          .board-class{
              padding: 0px 19px;
              width: 32%;
              height: 100%;


          }
        .board-class a {
            font-family:  'Do Hyeon', sans-serif;
            color: #424242;
          }

          .class-1{
              width: 100%;
              height: 23%;
              margin-bottom: 21px;
              border: 1px solid;
              border-radius: 24px;
              background-color : rgba(211, 248, 245, 1);



            border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            overflow-wrap: break-word;
            min-width: 0px;
            color: rgba(0, 0, 0, 0.87);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow: hidden;
            justify-content: center;
          }

   .class-1 h1 {
        font-family:  'Do Hyeon', sans-serif;
        color: #4A148C;
        #424242
    }


          .class-2{
              width: 100%;
              height: 23%;
              margin-bottom: 21px;
              border: 1px solid;
              border-radius: 24px;
              background-color : rgba(235, 233, 251, 1);

            border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            overflow-wrap: break-word;
            min-width: 0px;
            color: rgba(0, 0, 0, 0.87);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow: hidden;
            justify-content: center;
          }

          .class-2 h1 {
           font-family:  'Do Hyeon', sans-serif;
            color: #EC407A;
          }

          h1{
          margin:10px;
          }

         .class-3{
              width: 100%;
              height: 23%;
              margin-bottom: 21px;
              border: 1px solid;
              border-radius: 24px;
              background-color : rgba(233, 251, 233, 1);

            border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            overflow-wrap: break-word;
            min-width: 0px;
            color: rgba(0, 0, 0, 0.87);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow: hidden;
            justify-content: center;
          }

          .class-3 h1 {
            font-family:  'Do Hyeon', sans-serif;
          color: #64B5F6;

         }

         .class-4{
              width: 100%;
              height: 23%;
              margin-bottom: 21px;
              border: 1px solid;
              border-radius: 24px;
              background-color : rgba(243, 249, 216, 1);

            border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            overflow-wrap: break-word;
            min-width: 0px;
            color: rgba(0, 0, 0, 0.87);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow: hidden;
            justify-content: center;
          }

          .class-4 h1 {
          font-family:  'Do Hyeon', sans-serif;
         color: #4A148C;

        }

          .plan-game{
              width: 28%;
              height: 100%;

          }

            .plan-container{
                width: 100%;
                height: 50%;
                border: 1px solid;
                border-radius: 24px;
                margin-bottom: 10px;

      border: 0px solid rgba(0, 0, 0, 0.125);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
      overflow-wrap: break-word;
      min-width: 0px; /* 최대 너비 제한 */
      color: rgba(0, 0, 0, 0.87);
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      overflow: hidden;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      background-color: rgb(255, 255, 255);
      background-clip: border-box;
      justify-content: flex-start;
            }

            .fc .fc-toolbar.fc-header-toolbar {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
            }

            .fc .fc-toolbar {
            display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
            }
            .fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
                margin-left: -2px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }


      /* body 스타일 */
      .calendar {
        overflow: hidden;
        font-family:  'Do Hyeon', sans-serif;
        font-size: 3px;
         height: 50%;
      }
      /* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
      .fc-header-toolbar {
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;

      }

          #calendar {
              margin: 0 auto;
            }
        .fc .fc-toolbar.fc-header-toolbar {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
            }
            .fc .fc-toolbar {
            display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
            }

      .fc .fc-button {

        line-height: 0.5;

    }
          .game-container{
              width: 100%;
              height: 48%;
              border: 1px solid;

              border: 0px solid rgba(0, 0, 0, 0.125);
                    border-radius: 1rem;
                    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
                    overflow-wrap: break-word;
                    min-width: 0px; /* 최대 너비 제한 */
                    color: rgba(0, 0, 0, 0.87);
                    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    overflow: hidden;

                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    background-color: rgb(255, 255, 255);
                    background-clip: border-box;
                    justify-content: flex-start;
          }
        .img-slider{
  position: relative;
  width: 100%;
  height: 100%;
  background: #5679d026;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  transform: translateX(100%);
}

.img-slider .slide.active {
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: 2s;
  transition-property: transform;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide{
    font-size: 35px;
  }

  .img-slider .slide{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide{
    font-size: 30px;
  }

  .img-slider .slide{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide{
    font-size: 25px;
  }

  .img-slider .slide{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }

   table {
              text-align: left;
          }
}
.fc-event-time{
    display: none;
}

