@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Do Hyeon', sans-serif;
}

input {
	background-color: #eee;
    border: none;
    padding: 12px 15px;
    padding-right: 40px;
    margin: 8px 0;
    width: 100%;
}

button {
	border-radius: 20px;
	border: 1px solid #5073FB;
	background-color: #5073FB;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-bottom: 20px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
	cursor:pointer;
}