img {
 position: relative;
 top: 0;
 left: 0;
 width: 60%;
 height: 100%;
 object-fit: cover;
 display: block;
 margin-left: auto;
 margin-right: auto;
 }
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c4d4eb;
}
.main--content.active {
width: calc(100% - 103px);
}
@media screen and (max-width:1024px) {
table {
min-width: 600px;
}
}
@media screen and (max-width:768px) {
.logo {
padding-left: 30px;
width: fit-content;
}
.search--notification--profile {
padding: 0 20px;
margin-left: auto;
}
.main--content {
padding: 0 20px;
}
.sidebar {
padding: 20px;
}
.sidebar.active {
width: 85px;
}
.main--content.active {
width: calc(100% - 85px);
}
}
@media screen and (max-width:590px) {
.lock,
.chat {
display: none;
}
.notification--profile {
margin-left: auto;
}
.search--notification--profile {
width: fit-content;
}
.sidebar {
transform: translateX(-100%);
z-index: 10;
background-color: #fff;
}
.sidebar.active {
transform: translateX(0);
width: 300px;
}
.sidebar.active .sidebar--item {
display: block;
}
.main--content {
width: calc(100% - 0px);
}
.main--content.active {
width: calc(100% - 0px);
}
}
@media screen and (max-width:450px) {
.main--content {
padding: 0 10px;
}
.logo {
padding-left: 10px;
}
.search--notification--profile {
padding: 0 10px;
}
.sidebar {
padding: 10px;
}
}
.main--content{
border-color:#FDF9EE;
}



.title-box{
display: flex;
padding: 10px;
margin-right: auto;
margin-top:30px;
justify-content: center;
}
.title{
font-size:50px;
}

.box-list {
column-count: 2;
display: block;
margin-top: 50px;
height: auto;
width: 90%;
margin-right: auto;
margin-left: auto;
gap: 30px;
colum-gap:0px;
}

.header-content{
font-size: 12px;
justify-content: space-between;
display: flex;
}


.header-title{
margin-left: auto;
margin-right: auto;
display: inline-block;
font-size:22px;
max-width:200px;
margin-left: 14px;
font-weight:bold;
white-space: nowrap;  /* 텍스트를 한 줄로 표시 */
overflow: hidden;     /* 넘치는 텍스트를 숨김 */
text-overflow: ellipsis;  /* 넘치는 텍스트를 ...으로 표시 */
}

/* 커서 효과 스타일을 정의하는 CSS */
.custom-cursor {
    cursor: help; /* 여기서 help 커서 스타일을 사용하도록 지정합니다. 필요에 따라 다른 스타일을 사용할 수 있습니다. */
}

.header-name{
height: max-content;
width:max-content;
font-size:16px;
margin-right: 22px;
}

.header-class{
width:max-content;
height: max-content;
font-size:16px;
}

.header-date{
width: max-content;
height: max-content;
margin-top: 6px;
margin-left: -15px;
text-align: end;
font-size: 10px;
margin-right: 5px;
}


.box {
padding: 10px;
margin: 10px;
transition: background-color 0.3s, border 0.3s;
position: relative;
overflow: hidden;
}

.box h2 {
margin-bottom: 10px;
}

.clear {
margin-top: 18px;
margin-right: auto;
display: inline-block;
font-size: 22px;
width: auto;
margin-left: 14px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.box .read-more {
position: absolute;
bottom: 10px;
right: 10px;
}

.box .read-more a {
color: #5073FB;
text-decoration: none;
}



.box:hover {
background-color:rgb(130,205,237)

border: 1px solid #ffcc00;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
transform: scale(1.1);
}

.box-list::after {
content: "";
flex: auto;
}
.box1, .box2, .box3, .box4{
margin-right: auto;
margin-left: auto;
height: auto;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
border-radius: 8px;
margin-top:30px
font-family: 'Poor Story', cursive;
font-size:18px;
width:500px;
}
.box1{
background-color:rgba(211, 248, 245, 1);
}
.box2{
background-color:rgba(235, 233, 251, 1);
}
.box3{
background-color:rgba(233, 251, 233, 1);
}
.box4{
background-color:rgba(243, 249, 216, 1);
}
p{
white_space:pre-line;
}
.search-box {
padding: initial;
display: flex;
align-items: center;
margin-top: 40px;
width: 600px;
margin-left:auto;
margin-right:auto;
color:white;
}
.search-input {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
width: 100%;
height:41px;
}
.search-button {
background-color: #5073FB;
border: none;
color: #fff;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
margin-left: 10px;
height:41px;
}
.write-button{
display:block;
width:68px;
background-color: #5073FB;
border: none;
color: #fff;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
margin-left: 10px;
}
.scroll-to-top {
position: fixed;
bottom: 50px;
right: 40px;
display: none;
width:154px;
color:white;
}

.scroll-to-top a {
text-decoration: none;
padding: 15px 15px;
background-color: #5073FB;
border-radius: 45px;
font-size: 24px;
color:white;
}

.scroll-to-top a:hover {
background-color: #395cdd;
}
.box img{
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}


 /* Start https://www.cursors-4u.com */
        * {cursor: url(https://cur.cursors-4u.net/cursors/cur-10/cur959.cur), auto !important;}
        /* End https://www.cursors-4u.com */

.box img{
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

