@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
    width: 100%;
}
.header {
    position: fixed;
    z-index: 9999;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F1F1F1;
    background-color: #ebf3ff;
    border: none;
    box-shadow: 11px 3px 16px #0000000d;
}
.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}
.logo span {
    color: #5073FB;
}
.search--notification--profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 300px);
    padding: 0 40px;
}
.notification--profile {
    display: flex;
    align-items: center;
}
.picon {
    margin-left: 20px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
}
.bell {
    color: #F1D243;
    background-color: rgba(241, 210, 67, .2);
}
.chat {
    color: #70D7A5;
    background-color: rgba(112, 215, 165, .2);
}
.profile {
    position: relative;
    width: 100%;
    overflow: auto;
}
.profile span{
font-family: 'Do Hyeon', sans-serif;
}
img {

    width: 100%;
    height: 100%;
    border-radius:24px;
}
.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
}
/* sidebar */
.sidebar--item{
font-family: 'Do Hyeon', sans-serif;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #f2f7fb;
    border: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    overflow-y: scroll;
    box-shadow: 11px 3px 16px #0000000d;
}
.sidebar--items{
    margin-top: 60px;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar.active {
    width: 103px;
    overflow-y: scroll;
}
.sidebar.active::-webkit-scrollbar{
    display: none;
}
.sidebar.active .sidebar--item {
    display: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}
.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
    background-color: #5073FB;
    color: #fff;
}
#active--link {
    background-color: #5073FB;
    color: #fff;
}
.sidebar--bottom-items li:last-child a {
    margin-bottom: 0;
}
.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.3rem;
}
.icon-0 {
    color: #5073FB;
}
.icon-1 {
    color: #C5BC58;
}
.icon-2 {
    color: #A280E9;
}
.icon-3 {
    color: #85ADE3;
}
.icon-4 {
    color: #E36AC8;
}
.icon-5 {
    color: #70D7A5;
}
.icon-6 {
    color: #5F5CE0;
}
.icon-7 {
    color: #E86786;
}
.icon-8 {
    color: #F1D243;
}
.icon-9 {
        color: #585858;
}
.icon-10 {
        color: #00acc1;
}
#active--link {
    background-color: #5073FB;
    color: #fff;
}
.sidebar--items a:hover .icon i {
        color: white;
}
.sidebar--bottom-items a:hover .icon i {
        color: white;
}
/* main--content */
.main--content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 14px 50px;
    overflow-y: auto;
    transition: .1s;
margin-top: 60px;
}
.main--content.active {
    width: calc(100% - 103px);
}
@media screen and (max-width:1024px) {
    table {
        min-width: 600px;
    }
}
@media screen and (max-width:768px) {
    .logo {
        padding-left: 30px;
        width: fit-content;
    }
    .search--notification--profile {
        padding: 0 20px;
        margin-left: auto;
    }
    .main--content {
        padding: 0 20px;
    }
    .sidebar {
        padding: 20px;
    }
    .sidebar.active {
        width: 85px;
    }
    .main--content.active {
        width: calc(100% - 85px);
    }
}
@media screen and (max-width:590px) {
    .lock,
    .chat {
        display: none;
    }
    .notification--profile {
        margin-left: auto;
    }
    .search--notification--profile {
        width: fit-content;
    }
    .sidebar {
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }
    .sidebar.active {
        transform: translateX(0);
        width: 300px;
    }
    .sidebar.active .sidebar--item {
        display: block;
    }
    .main--content {
        width: calc(100% - 0px);
    }
    .main--content.active {
        width: calc(100% - 0px);
    }
}
@media screen and (max-width:450px) {
    .main--content {
        padding: 0 10px;
    }
    .logo {
        padding-left: 10px;
    }
    .search--notification--profile {
        padding: 0 10px;
    }
    .sidebar {
        padding: 10px;
    }
}

.image-container{
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.carousel-container{
    height: auto;
    margin-top: 22px;
    margin-bottom: 10px;
    border-radius: 26px;
    box-shadow: 0px 0px 8px 3px #b9b9b947;
    max-width: 100%;
    display: flow-root;
}

/* main-head */
.head-container{
    height: auto;
    margin-top: 22px;
    margin-bottom: 10px;
    border-radius: 26px;
    box-shadow: 0px 0px 8px 3px #b9b9b947;
    max-width: 100%;
    display: flow-root;
}

.main-ori-button{
    float: right;
    width: 70px;
    height: 33px;
    margin-bottom: 16px;
    margin-top: 14px;
    margin-left: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 30px 25px;
    border-top-right-radius: 0px 5px;
    border-bottom-left-radius: 0px 5px;
    border-bottom-right-radius: 30px 25px;
    background: #5164da ;
    cursor: pointer;
}

.title-container{
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.write-title{
    margin-top: 18px;
    margin-bottom: 10px;
    width: 100%;
}
.write-title span{
    font-size: x-large;
    font-weight: bold;
}

.write-title textarea{
    width: 100%;
    padding: 9px;
    height: 48px;
    overflow: hidden;
    line-height: 30px;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: 4px 7px 10px -14px;
    border: 1px solid #D9E0E3;
    outline: none;
    resize: none;
}
.write-title textarea:hover{
    background: #F8FBFC;
}

/* main-content */
.content-container{
    height: 50%;
    padding-top: 0px;
}

.write-content{
    width: 100%;
    height: 100%;
}

.content-label{
    border: 1px solid #D9E0E3;
    display: block;
    width: 95px;
    text-align: center;
    line-height: 41px;
    border-bottom: none;
    height: 43px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: bold;
}

.content-label:hover {
    border: 1px solid #22BBCE;
    color: #22BBCE;
    transition: all 0.4s ease;
}

.content{
    border-radius: 30px;
    border-top-left-radius: 1px;
    box-shadow: 8px 9px 14px -18px;
    border: 1px solid #D9E0E3;
    outline: none;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 100%;
}
.content:hover{
    background: #F8FBFC;
}

.content-textarea{
    min-height: 30%;
    height: 80%;
    width: 100%;
    padding: 9px;
    overflow: hidden;
    line-height: 30px;
    font-size: 15px;
    border-radius: 30px;
    border-top-left-radius: 1px;
    box-shadow: 4px 7px 10px -14px;
    border: 1px solid #D9E0E3;
    outline: none;
    resize: none;
}

.content-textarea:hover{
    background: #F8FBFC;
}

.content::-webkit-scrollbar{
    display: none;
}

.content-file{
    width: 85px;
    margin-top: 13px;
    height: 34px;
    outline: none;
    border-radius: 22px;
    border: none;
    background-color: #22BBCE;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.content-file:hover{
    background-color: #3b909b;
    transition: all 0.4s ease;
}
.save{
    float: right;
    margin-right: 30px;
    width: 100px;
    height: 33px;
    margin-bottom: 16px;
    margin-top: 14px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    background: #22BBCE;
    cursor: pointer;
}
.save:hover{
    background-color: #3b909b;
    transition: all 0.4s ease;
}